header {
    background-image: url('http://huhaonan.github.io/favcon.png');
    background-repeat:no-repeat;
    background-size:cover;
    min-height: 60px;
    height: 300px;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    .logo-link {
        float: left;
    }

    .nav {
        float: right;
        margin-right: 40px !important;
        margin-top: 40px !important;
    }

    .logo-link img {
        height: 60px;
        border-radius: 20px;
    }

    .nav-list-item {
        display: inline-block;
        padding: 19px  10px ;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }

    .title_wrap {
        text-align: center;
        float: left;
        margin-left:50px;
        margin-top: 60px;
        min-width: 150px;
        font-size: 24px;
        p {
            margin: 0;
            padding: 0;
            font-weight: bolder;
            font-style: italic;
        }
    }

    .subtitle {
        font-size: 16px;
    }

    .typing {
        display: inline-block;
        width: 8em;
        white-space: nowrap;
        border-right: 2px solid transparent;
        animation: typing 2s steps(8, end), blink-caret .75s 3;
        overflow: hidden;
    }
    /* 打印效果 */
    @keyframes typing {
      from { width: 0; }
      to { width: 8em; }
    }
    /* 光标闪啊闪 */
    @keyframes blink-caret {
      from, to { box-shadow: 1px 0 0 0 transparent; }
      50% { box-shadow: 1px 0 0 0; }
    }
}
